@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  display: table;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}

#container {
  width: 630px;
  position: relative;
  vertical-align: middle;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 30px solid rgb(255, 0, 0);
  border-left: 40px solid rgb(255, 0, 0);
  border-right: 40px solid rgb(255, 0, 0);
  border-bottom: 30px solid rgb(255, 0, 0);
}
#container div {
  display: inline-block;
  vertical-align: top;
}

#btn {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(33, 166, 255);
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  background: rgb(255, 255, 255);
  color: rgb(33, 166, 255);
  padding: 5px 15px;
}

#btn:hover {
  border: 1px solid rgb(33, 166, 255);
  background: rgb(33, 166, 255);
  color: white;
  cursor: pointer;
}

#btn:focus {
  outline: none;
}

.controls {
  background: red;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

span {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: 0;
}
